<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shiyicia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8752C1D61E0B7ADC00BD08C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8752C1EF1E0B7ADD00BD08C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8752C1FA1E0B7ADD00BD08C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
